@import url(./src/less/less-func);
@import url(./src/less/regular);
// Logo
a.logo {
    font: 0.175rem Bold;
    letter-spacing: .05rem;
    >img {
        height: .38rem;
        width: .49rem;
    }
    >span {
        margin-left: .1rem;
    }
}

a.logo:link,
a.logo:visited,
a.logo:hover,
a.logo:active {
    text-decoration: none;
} // End Logo

/***
Bootstrap 自定义
***/

a,
li a:link,
li:link,
a:visited,
li:visited,
a:hover,
li:hover,
a:active,
li:active,
a:focus,
li:focus {
    background-color: transparent !important;
} //取消nav上link的背景色
// .nav .open>a,
// .nav .open>a:link,
// .nav .open>a:visited,
// .nav .open>a:focus,
// .nav .open>a:hover,
// .nav .open>a:active,
// .navbar-nav>li>a:hover {
//     background-color: transparent;
// } //取消nav上link的背景色
@header-link-margin-right: .29rem;
.navbar-nav>li>a {
    font-family: ExtraLight;
    font-size: 14px;

    @media (min-width: 768px) {
        .func-padding(0, @header-link-margin-right/2 , .1rem, @header-link-margin-right/2)
    }
}

.navbar-nav>li:first-child>a {
    @media (min-width: 768px) {
        .func-padding(0, @header-link-margin-right/2, 0, 0)
    }
}

.navbar-nav>li>a:link {}

.navbar-nav>li>a:visited {
    color: #fff;
}

.navbar-nav>li>a:hover {
    color: #fff;
    @media (min-width: 768px) {
        text-decoration: underline;
    }
}

.navbar-nav>li>a:active {}


/***
End Bootstrap自定义
***/

.navbar-elitesource {
    @media (min-width: 768px) {
        .minh10p
    }
    .darkbgc;
    .navbar-toggle {
        border-color: #333;
        margin-top: 0;
        .icon-bar {
            background-color: #fff;
        }
    }
    .navbar-header {
        @media (max-width: 768px) {
            padding-bottom: 10px;
        }
    }
    .nav {
        @media (min-width: 768px) {
            .mt10p
        }
    }
}