<div class="bizDetail">
    <div class="container">
        <div class="bizPic col-md-3 ">
            <a href="#" class="clearfix">
                <img src="/static/images/placeholder.png" class="img-responsive" alt="">
            </a>
        </div>
        <div class="bizContent col-md-9">
            <div class="bizTitle col-md-12 "><h3>标题党</h3></div>
            <div class="bizInfo col-md-12"><span>Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail </span></div>
            <div class="bizLink col-md-12"><a href="#">Detail</a></div>
        </div>
    </div>
</div>
<div class="bizDetail">
    <div class="container">
        <div class="bizPic col-md-3 ">
            <a href="#" class="clearfix">
                <img src="/static/images/placeholder.png" class="img-responsive" alt="">
            </a>
        </div>
        <div class="bizContent col-md-9">
            <div class="bizTitle col-md-12 "><h3>标题党</h3></div>
            <div class="bizInfo col-md-12"><span>Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail </span></div>
            <div class="bizLink col-md-12"><a href="#">Detail</a></div>
        </div>
    </div>
</div>
<div class="bizDetail">
    <div class="container">
        <div class="bizPic col-md-3 ">
            <a href="#" class="clearfix">
                <img src="/static/images/placeholder.png" class="img-responsive" alt="">
            </a>
        </div>
        <div class="bizContent col-md-9">
            <div class="bizTitle col-md-12 "><h3>标题党</h3></div>
            <div class="bizInfo col-md-12"><span>Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail Detail </span></div>
            <div class="bizLink col-md-12"><a href="#">Detail</a></div>
        </div>
    </div>
</div>