<div class="bizDetail">
    <div class="container">
        <div class="bizPic col-md-4">
            <a href="#">
                <img src="" alt="">
            </a>
        </div>
        <div class="bizContent col-md-8">
            <div class="bizTitle col-md-12 "><h3>标题党</h3></div>
            <div class="bizInfo col-md-12"><span>DetailDetailDetailDetailDetailDetailDetail</span></div>
        </div>
    </div>
</div>